<%= render 'layouts/users_header' %>

<div class="body">
  <div class="container">

      <h3>ご利用方法</h3>

      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <div class="about-index">
            <p class="display-4">1</p>
            <p class="about-text">まずは会員登録</p>
          </div>
          <div class="about-index">
            <p class="display-4">2</p>
            <p class="about-text">撮影した写真を<br>投稿しよう</p>
          </div>
          <div class="about-index">
            <p class="display-4">3</p>
            <p class="about-text">他のユーザの投稿を<br>見に行こう</p>
          </div>
          <div class="about-index">
            <p class="display-4">4</p>
            <p class="about-text">勉強して、撮影して<br>一眼レフの腕を磨こう</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="about-plusbox">
            <p class="h3">その他にも...</p>
            <p class="about-text">
              ユーザと投稿のランキング機能や検索機能、カメラの用語集ページもご用意 <i class="fas fa-music"></i><br>
              ぜひ一緒に、脱・一眼レフ初心者を目指しましょう！！
            </p>
          </div>
        </div>
      </div>

  </div>
</div>
