<%= render 'layouts/users_header' %>

<div class="body">
  <div class="container">

      <h3>用語集</h3>

      <div class="row justify-content-center">
        <div class="col-10">

          <table class="table">
            <thead class="thead-light">
              <tr>
                <th colspan="2">I</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="align-middle" style="width:30%">ISO</td>
                <td class="align-middle" style="width:70%">フィルム感度の値</td>
              </tr>
            </tbody>
          </table>

          <table class="table">
            <thead class="thead-light">
              <tr>
                <th colspan="2">さ行</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="align-middle" style="width:30%">絞り</td>
                <td class="align-middle" style="width:70%">カメラの中に光を通す穴</td>
              </tr>
              <tr>
                <td class="align-middle" style="width:30%">シャッタースピード</td>
                <td class="align-middle" style="width:70%">カメラのシャッター幕が開く速度</td>
              </tr>
            </tbody>
          </table>

          <table class="table">
            <thead class="thead-light">
              <tr>
                <th colspan="2">は行</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="align-middle" style="width:30%">ピント</td>
                <td class="align-middle" style="width:70%">焦点、フォーカス</td>
              </tr>
              <tr>
                <td class="align-middle" style="width:30%">ホワイトバランス</td>
                <td class="align-middle" style="width:70%">撮影環境の光源に合わせて白を白く見えるように写すための設定</td>
              </tr>
            </tbody>
          </table>

          <table class="table">
            <thead class="thead-light">
              <tr>
                <th colspan="2">ら行</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="align-middle" style="width:30%">レンズ</td>
                <td class="align-middle" style="width:70%">焦点距離で分類される(広角レンズ、望遠レンズ、標準レンズ等)</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>

  </div>
</div>
